li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
  }
  .listItem {
    display: flex;
  }
  .listItem p {
    margin-right: 40px;
  }
  .listItem img {
    margin-right: 10px;
  }
  button {
    background-color: transparent;
    border: 0px;
  }
  